accelerate
codetiming
datasets
dill
packaging
hydra-core
numpy
pandas
pybind11
ray
tensordict<0.6
transformers<4.48
vllm==0.6.3
FlagEmbedding
wandb
triton
stanford-stk
torch
torchvision
torchaudio
vllm-flash-attn

elasticsearch==7.10.1
faiss-gpu==1.7.2
